;; prim-leash live case: lead a cow 30 blocks east, tie it to the fence post, then untie it and take the lead back
{:register []
 :queue [(seq (jobs.animals.lead-to {:mob "cow" :pos {:x 8530 :y 64 :z 9500} :fence {:x 8531 :y 64 :z 9500}})
              (jobs.animals.unleash {:mob "cow"}))
         (repeat (jobs.movement.look-around))]}
;; ---- other cases of this feature: swap the commented form in for the active one above ----
;; -- case from live-ProbeWalk-lead-to-far
;; ;; prim-leash live case: lead a cow 50 blocks east (the lead is cut on the way by the test)
;; {:register []
;;  :queue [(jobs.animals.lead-to {:mob "cow" :pos {:x 8552 :y 64 :z 9500}})
;;          (repeat (jobs.movement.look-around))]}
;; -- case from live-ProbeWalk-lead-to-free
;; ;; prim-leash live case: lead a cow 30 blocks east and let it go there
;; {:register []
;;  :queue [(jobs.animals.lead-to {:mob "cow" :pos {:x 8530 :y 64 :z 9500}})
;;          (repeat (jobs.movement.look-around))]}
;; -- case from live-ProbeWalk-leash-sheep
;; ;; prim-leash live case: leash a sheep (none near)
;; {:register []
;;  :queue [(jobs.animals.leash {:mob "sheep"})
;;          (repeat (jobs.movement.look-around))]}
;; -- case from live-ProbeWalk-leash-wide
;; ;; prim-leash live case: leash a cow within 12 blocks (the fenced cow)
;; {:register []
;;  :queue [(jobs.animals.leash {:mob "cow" :radius 12})
;;          (repeat (jobs.movement.look-around))]}
;; -- case from live-ProbeWalk-leash
;; ;; prim-leash live case: leash a cow within 8 blocks
;; {:register []
;;  :queue [(jobs.animals.leash {:mob "cow"})
;;          (repeat (jobs.movement.look-around))]}
;; -- case from live-ProbeWalk-unleash
;; ;; prim-leash live case: take the lead off a led or tied cow and pick it up
;; {:register []
;;  :queue [(jobs.animals.unleash {:mob "cow"})
;;          (repeat (jobs.movement.look-around))]}
