;; trade primitive live case 2: offer with two cost stacks: 2 emerald + 1 paper for 1 cooked_beef, ask 2
{:register []
 :queue [(seq (jobs.movement.pace {:a {:x 9500 :y 100 :z 9000} :b {:x 9500 :y 100 :z 8994} :laps 1 :rounds 1}) (jobs.village.trade {:villager "00002329-0000-0002-0000-000000000001" :buy "cooked_beef" :count 2}))]}
