;; apiary.maintain live: open fire + ripe hive at 6100,101..103,6100, chest at 6103,101,6096; carpet and shears carried
{:register []
 :queue [(jobs.apiary.maintain {:box {:from {:x 6096 :y 100 :z 6096} :to {:x 6104 :y 110 :z 6104}}
                                :chest {:x 6103 :y 101 :z 6096}})]}
