;; trade primitive live case 15: plain high price: NBT cost 30 emeralds, no adjustment, ask 1
{:register []
 :queue [(seq (jobs.movement.pace {:a {:x 9500 :y 100 :z 9000} :b {:x 9500 :y 100 :z 8994} :laps 1 :rounds 1}) (jobs.village.trade {:villager "00002329-0000-000f-0000-000000000001" :buy "bread" :count 1}))]}
