;; ProbeNight livelock probe: shelter registered ABOVE get-food, to see whether a
;; lower reflex ever gets the body while shelter holds it all night.
{:register [{:trigger :night-unsafe :args {:roof-height 4}
             :job (jobs.survival.shelter {:roof-height 4})}
            {:trigger :hungry :args {:food 6 :food-when-hurt 14}
             :job (jobs.survival.get-food {:food 6 :food-when-hurt 14})}]
 :queue [(repeat (jobs.movement.look-around))]}
