;; ProbeStuck live case: jobs.animals.tend without a chest (produce stays carried)
{:register []
 :queue [(jobs.animals.tend {:mob "cow" :target 4
                             :box {:min {:x 8000 :y 99 :z 8000} :max {:x 8010 :y 104 :z 8010}}})]}
