;; View speed test: no reflexes, walk a loop of six waypoints over the grass hills east of 2000 -2000
;; (the wooded hills to the west have leaf litter, which the pathfinder gets stuck on).
{:register []
 :queue [(repeat (seq (jobs.movement.go-to {:pos {:x 2040 :y 69 :z -2010} :range 3})
                      (jobs.movement.go-to {:pos {:x 2100 :y 66 :z -2020} :range 3})
                      (jobs.movement.go-to {:pos {:x 2140 :y 82 :z -2080} :range 3})
                      (jobs.movement.go-to {:pos {:x 2120 :y 69 :z -2140} :range 3})
                      (jobs.movement.go-to {:pos {:x 2100 :y 68 :z -2100} :range 3})
                      (jobs.movement.go-to {:pos {:x 2040 :y 65 :z -2040} :range 3})))]}
