;; Live test of make-room with a short chest range (8), to see the toss path
;; take over when the known chest is farther away.
{:register [{:trigger :inventory-nearly-full :persistence :cooldown :cooldown-s 15 :args {:free 2}
             :job (jobs.storage.make-room {:free 4 :chest-range 8})}]
 :queue [(repeat (jobs.movement.look-around))]}
