;; batch-block: jobs.farm.till fail case, a single dirt cell floating 10 blocks above the plot (unreachable)
{:register []
 :queue [(jobs.farm.till {:from {:x 5000 :y 110 :z 4994} :to {:x 5000 :y 110 :z 4994}})]}
