{:register [{:id :scn-a :when (> (inventory "gold_ingot") 5000) :job (jobs.debug.notify {:text "scn-a"})} {:id :scn-b :when (> (inventory "gold_ingot") 5000) :job (jobs.debug.notify {:text "scn-b"})} {:id :scn-c :when (> (inventory "gold_ingot") 5000) :job (jobs.debug.notify {:text "scn-c"})} {:id :scn-d :when (> (inventory "gold_ingot") 5000) :job (jobs.debug.notify {:text "scn-d"})} {:id :scn-e :when (> (inventory "gold_ingot") 5000) :job (jobs.debug.notify {:text "scn-e"})} {:id :scn-f :when (> (inventory "gold_ingot") 5000) :job (jobs.debug.notify {:text "scn-f"})}] :queue []}
